xml/university.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://university.degrees"
            xmlns:deg="http://university.degrees"
            elementFormDefault="qualified">

  <!-- Define the degree element -->
  <xs:element name="degree">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" type="deg:courseType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Define the course type -->
  <xs:complexType name="courseType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="cfus" type="xs:integer"/>
      <xs:element name="professors" type="deg:professorsType"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Define the professors type -->
  <xs:complexType name="professorsType">
    <xs:sequence>
      <xs:element name="professor" type="deg:professorType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Define the professor type -->
  <xs:complexType name="professorType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="matriculaId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>